VITE_TMDB_BASE_URL = https://api.themoviedb.org/3
VITE_TMDB_API_KEY = 735b52a4c9adea4d920bc15d396f0bf4
VITE_TMDB_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3MzViNTJhNGM5YWRlYTRkOTIwYmMxNWQzOTZmMGJmNCIsIm5iZiI6MTc2OTcxODkyNi40OTMsInN1YiI6IjY5N2JjNDhlNDdiNDg1NTg1NGE3ZWUzNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.1iQTQey0eqdH7ey1IRL7hq6oeuGADE8F2s9zK7PmS6k