body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #20232a;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-item, button {
  background: none;
  border: none;
  color: white;
  margin: 0 0.5rem;
  padding : 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

nav .nav-item.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}